<?xml version="1.0"?>
<launch>

	<arg name="seneka_env" default="seneka_demo"/>
	<arg name="config" default="sensor_placement"/>
	<arg name="map_name" default="map"/>
	<arg name="map" default="$(find seneka_environments)/$(arg seneka_env)/$(arg map_name).yaml" />

	<!--- Run map_server -->
	<node name="map_server" pkg="map_server" type="map_server" args="$(arg map)"/>

	<!--- start sensor_placement_node  -->
  <include file="$(find seneka_strategies_bringup)/components/sensor_placement.xml">
    <arg name="config" value="$(arg config)"/>
  </include>
  
  <!--- start sensor_placement_itf  -->
  <include file="$(find seneka_strategies_bringup)/components/sensor_placement_itf.xml"/>

</launch>
